@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    background-color: #14181c;
}

::selection{
    background: #00c030;
    color: black;
}

